h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

button {
  border: 0.16em solid #ffffff;
  padding: 8px;
  margin: 10px 0px 10px 0px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.15s;
}

button:hover {
  border-color: #dddddd;
  color: #dddddd;
  cursor: pointer;
}

.intro {
  height: 45vh;
  display: grid;
  align-content: center;
  /* margin: 20vh 0 0 5vw; */
}
