/* https://medium.com/@beyondborders/beginner-css-grid-sticky-navigation-scrolling-content-7c4de0a8d1dc */
body {
  overflow: hidden;
}

#sidenav {
  color: blue;
  font-weight: bold;
  align-self: center;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr 30px;
  /* grid-template-rows: 100%; */
  /* grid-template-columns: 300px 100%; */
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
}

.content {
  overflow-y: scroll;
  padding: 20px;
}
