html,
body {
  min-height: 100vh;
}

/* https://stackoverflow.com/questions/7357818/how-can-an-html-element-fill-out-100-of-the-remaining-screen-height-using-css */
#app {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 300px 100%;
  min-height: 100vh;
  /* align-items: center; */
}

#sidenav {
  color: blue;
  font-weight: bold;
  align-self: center;
}

#main {
  background-color: red;
}
